{% extends 'base.html.twig' %}

{% block title %}Edit Institution{% endblock %}

{% block body %}
    <h1>Edit Institution</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}
    <a href="{{ path('institution_view', {id: institution.id}) }}">Cancel</a>
{% endblock %}
